.form--tag{
    padding:70px 50px;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}
.form--tag--one{
    border: none;
    justify-content: space-around;
}
label{
    font-family: 'Titillium';
    font-size: 1.5rem;
}
.div--tag--input--form--two{
    border: none;
    width:70%;
    height:80px;
    margin-top: 2%;
    margin-left:15%;
   
}   
.div--tag--button--form--two{
    border: none;
    width:20%;
    height: 50px;
    margin-top: 2%;
    margin-left:40%;
}
.div--tag--button--form--two>input{
    width: 100%;
    height:100%;
    background: rgba(1, 9, 32, 0.83);
    color:rgb(168, 157, 157);
    border-radius: 100px;
    cursor: pointer;
}
.div--tag--button--form--two>input:hover{
    transition: 1s;
    background-color:rgba(1, 9, 32);
    color:white;
}
.input--tag--form--two{
  width:50%;
 float: inline-end;
 height:80px;
 border:none;
 outline: none;
 background: transparent;
 border-bottom: 2px solid black;;
}
.form--tag--two{
    border: none;
    margin-top:100px;
}
.heading--tag--form{
    padding:10px;
    font-family: 'Titillium';
    text-align: center;
    font-size:1.8rem;
}
input[type='file']{
    display: none;
}
.input--tag--choosing{
    font-family: 'Titillium';
    font-size: 1.2rem;
     width:fit-content;
  
}
.div--tag--input{
  height:50px;
 
 display: flex;
 width:80%;
  margin-top: 30px;
  border:none;
  cursor: pointer;
  
}

#excel--input{
    height:50px;
      width:0;
   
     border-radius: 10px;
     background-color:rgba(4, 106, 77, 0.83) ;
      border:none;
      cursor: pointer;
    }


#image--input{
    height:50px;
    width:0;
   
   border-radius: 10px;
   background-color:rgba(4, 106, 77, 0.83) ;
    border:none;
    cursor: pointer;
}
.button--tag{
    width:20%;  
    height: 100%;;
   
    font-family: 'Titillium';
    font-size: 1.2rem;
    border:none;
    color:rgb(168, 157, 157);
    border-radius: 100px;
    background-color:rgba(1, 9, 32, 0.83) ;
}
.button--tag:hover{
    transition: 1s;
    background-color:rgba(1, 9, 32);
    color:white;
}
@media (max-width:576px){
    .form--tag--one{
        justify-content: space-around;
    }
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.2rem;
    }
      .div--tag--input{
        height:50px;
        width:70%;
        margin-left: 15%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 0.8rem;
    }
    .button--tag{
        width:100%;
        margin:0;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 0.8rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}

@media (min-width:576px) and (max-width:768px){
    .form--tag--one{
        justify-content: space-around;
    }
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.4rem;
    }
    .div--tag--input{
        height:50px;
        width:70%;
        margin-left: 15%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 0.8rem;
    }
    .button--tag{
        width:80%;
        margin-left:10%;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 0.8rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}

@media (min-width:768px) and (max-width:992px){
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.6rem;
    }
    .form--tag--one{
        justify-content: space-around;
    }
    .div--tag--input{
        height:50px;
        width:80%;
        margin-left: 10%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 1rem;
    }
    .button--tag{
        width:60%;
        margin-left:20%;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 0.8rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}
@media (min-width:992px) and (max-width:1200px){
    .form--tag--one{
        justify-content: space-around;
    }
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.8rem;
    }
    .div--tag--input{
        height:50px;
        width:70%;
        margin-left: 15%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 1.2rem;
    }
    .button--tag{
        width:30%;
        margin-left:35%;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 1rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}
@media(min-width:1200px) and (max-width:1400px){
    .form--tag--one{
        justify-content: space-around;
    }
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.8rem;
    }
    .div--tag--input{
        height:50px;
        width:70%;
        margin-left: 15%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 1.2rem;
    }
    .button--tag{
        width:30%;
        margin-left:35%;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 1rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}
@media(min-width:1400px){
    .form--tag--one{
        justify-content: space-around;
    }
    .heading--tag--form{
        padding:10px;
        font-family: 'Titillium';
        text-align: center;
        font-size:1.8rem;
    }
    .div--tag--input{
        height:50px;
        width:70%;
        margin-left: 15%;
        margin-top: 30px;
      }
      .input--tag--choosing{
        font-family: 'Titillium';
        font-size: 1.2rem;
    }
    .button--tag{
        width:30%;
        margin-left:35%;  
        height: 100%;
        font-family: 'Titillium';
        font-size: 1rem;
        border:none;
        color:rgb(168, 157, 157);
        border-radius: 100px;
        background-color:rgba(1, 9, 32, 0.83) ;
    }
    .button--tag:hover{
        transition: 1s;
        background-color:rgba(1, 9, 32);
        color:white;
    }
}